@page "/freedomhatscollection/products"
<h3>Products</h3>
<p>Favorite Count: @favoritesCount</p>

<div class="col-6 border p-3">
    <h2>Product Details</h2>
    <hr />
    @if (productToDisplay != null)
    {
        <h3>@productToDisplay.Name</h3>
        <p>@productToDisplay.ProductDescription</p>
        <p>Price: @productToDisplay.Price</p>
        <p>IsActive: @(productToDisplay.IsActive ? "Active" : "InActive")</p>

    }
</div>

@foreach (var product in productsList)
{
    <_ProductCard product="product" OnFavoritesUpdated="FavoritesCountChange" OnProductSelect="ProductToDisplay" />
}






@code {
    public int favoritesCount { get; set; } = 0;
    public Product productToDisplay { get; set; }
    List<Product> productsList = new();




    Product product = new()
        {
            Id = 1,
            Name = "Freedom Hat",
            ProductDescription = "A hat that represents freedom.",
            Price = 19.99,
            IsActive = true,
            ShowProperties = false,
            Style = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Sport", Value = "Sport"},
                new Product_Properties { Id = 2, Key = "Casual", Value = "Casual"},
                new Product_Properties { Id = 3, Key = "Trucker", Value = "Trucker"}
            },
            Color = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Red", Value = "Red"},
                new Product_Properties { Id = 2, Key = "Blue", Value = "Blue"},
                new Product_Properties { Id = 3, Key = "White", Value = "White"}
            },
            Size = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Small", Value = "Small"},
                new Product_Properties { Id = 2, Key = "Medium", Value = "Medium"},
                new Product_Properties { Id = 3, Key = "Large", Value = "Large"}
            }
        };

    protected override void OnInitialized()
    {

        productsList.Add(new()
            {

                Id = 1,
                Name = "Freedom Hat",
                ProductDescription = "A hat that represents freedom",
                Price = 19.99,
                IsActive = true,
                ShowProperties = false,
                Style = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Sport", Value = "Sport"},
                new Product_Properties { Id = 2, Key = "Casual", Value = "Casual"},
                new Product_Properties { Id = 3, Key = "Trucker", Value = "Trucker"}
            },
                Color = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Red", Value = "Red"},
                new Product_Properties { Id = 2, Key = "Blue", Value = "Blue"},
                new Product_Properties { Id = 3, Key = "White", Value = "White"}
            },
                Size = new List<Product_Properties>()
            {
                new Product_Properties { Id = 1, Key = "Small", Value = "Small"},
                new Product_Properties { Id = 2, Key = "Medium", Value = "Medium"},
                new Product_Properties { Id = 3, Key = "Large", Value = "Large"}
            }
            });

        productsList.Add(new()
            {
                Id = 2,
                Name = "Patriot Hat",
                ProductDescription = "A hat that shows your patriotism",
                Price = 18.99,
                IsActive = true,
                ShowProperties = false,
                Style = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Sport", Value = "Sport"},
                    new Product_Properties { Id = 2, Key = "Casual", Value = "Casual"},
                    new Product_Properties { Id = 3, Key = "Trucker", Value = "Trucker"}
                },
                Color = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Red", Value = "Red"},
                    new Product_Properties { Id = 2, Key = "Blue", Value = "Blue"},
                    new Product_Properties { Id = 3, Key = "White", Value = "White"}
                },
                Size = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Small", Value = "Small"},
                    new Product_Properties { Id = 2, Key = "Medium", Value = "Medium"},
                    new Product_Properties { Id = 3, Key = "Large", Value = "Large"}
                }
            });

        productsList.Add(new()
            {
                Id = 3,
                Name = "Revolutionary Hat",
                ProductDescription = "A hat that show your willing to stand up to tyranny",
                Price = 21.99,
                IsActive = true,
                ShowProperties = false,
                Style = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Sport", Value = "Sport"},
                    new Product_Properties { Id = 2, Key = "Casual", Value = "Casual"},
                    new Product_Properties { Id = 3, Key = "Trucker", Value = "Trucker"}
                },
                Color = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Red", Value = "Red"},
                    new Product_Properties { Id = 2, Key = "Blue", Value = "Blue"},
                    new Product_Properties { Id = 3, Key = "White", Value = "White"}
                },
                Size = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Small", Value = "Small"},
                    new Product_Properties { Id = 2, Key = "Medium", Value = "Medium"},
                    new Product_Properties { Id = 3, Key = "Large", Value = "Large"}
                }
            });

        productsList.Add(new()
            {
                Id = 4,
                Name = "MinuteMan Hat",
                ProductDescription = "A hat that shows your are ready to defend your freedom",
                Price = 25.99,
                IsActive = true,
                ShowProperties = false,
                Style = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Sport", Value = "Sport"},
                    new Product_Properties { Id = 2, Key = "Casual", Value = "Casual"},
                    new Product_Properties { Id = 3, Key = "Trucker", Value = "Trucker"}
                },
                Color = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Red", Value = "Red"},
                    new Product_Properties { Id = 2, Key = "Blue", Value = "Blue"},
                    new Product_Properties { Id = 3, Key = "White", Value = "White"}
                },
                Size = new List<Product_Properties>()
                {
                    new Product_Properties { Id = 1, Key = "Small", Value = "Small"},
                    new Product_Properties { Id = 2, Key = "Medium", Value = "Medium"},
                    new Product_Properties { Id = 3, Key = "Large", Value = "Large"}
                }
        });
    }

    // private void DeleteProd(int id)
    // {
    //     var product = productsList.Find(x => x.Id == id);
    //     productsList.Remove(product);
    // }

    protected void FavoritesCountChange(bool isFavorite)
    {
        if (isFavorite)
        {
            favoritesCount++;
        } else
        {
            favoritesCount--;
        }
    }

    protected void ProductToDisplay(int id)
    {
        productToDisplay = productsList.Find(x => x.Id == id);
    }


}
